<html>
<head>
    <title>模板语法</title>
    <script src="../../resource/vue2.7.js"></script>
</head>

<body>
    <!-- vue模板语法2大类：
        1.插值语法：
            解析标签体内容
            语法：{{变量}}
        2.指令语法
            解析标签，标签属性、事件绑定、标签体内容等
            语法：v-xxx： v-开头
    -->
    <div id="root">
        <h1>hello,{{name}}</h1>
        <!-- v-bind: 可以绑定任何元素，可以简写为冒号：-->
        <a v-bind:href="url">点击跳转百度</a>
        <!-- 变量可以使用表达式和函数 -->
        <a :href="url.toUpperCase()">点击跳转{{baidu.name}}2</a>
    </div>
</body>
<script>
    new Vue({
        el: "#root",
        data: {
            name: "word",
            url:"https:www.baidu.com",
            baidu:{
                name:"百嘟嘟"
            }
        }
    })
</script>
</html>