<html>

<head>
    <title>数据监测总结</title>
    <script src="../../resource/vue2.7.js"></script>
</head>

<body>
    <!-- 
        Vue监视数据的原理：
            1.vue会监视data中所有层级的数据
            2.如何监测对象中数据
                通过setter时间监视，且要在new Vue时就要传入监测的数据
                1）对象中后追加的属性，vue默认不再做响应式处理
                2）如需后添加的属性做响应式，需要使用以下API
                    Vue.set(target,key,val) or Vue.$set(target,key,val)
            3.如何监测数组中的数据
                通过包装数据更新元素的方法实现，本质就是做了两件事：
                    1）调用原生对应的方法对数据进行更新
                    2）重新解析模板，进而更新页面
            4.在vue修改数组中的某个元素一定要使用如下方法
                    1）使用这些API：push()、pop()、shift()、unshift()、splice()、sort()、severse()
                    2）Vue.set() 或者 vm.$set()

            特别注意：Vue.set() 或者 vm.$set() 不能给vm或者vm根数据对象 添加属性！！（不能给data中添加属性，可以给属性中的属性添加，也就是第二层级）
     -->
    <div id="root">
        <button @click="student.age++">年龄+1</button><br />
        <button @click="addSex">添加性别属性，默认值：男</button><br />
        <button @click="student.sex='未知'">修改性别</button><br />
        <button @click="addFriend">在列表首位添加一位朋友</button><br />
        <button @click="updataeFirstFriendName">修改第一个朋友的名字为：张三</button><br />
        <button @click="addHobby">添加一个爱好</button><br />
        <button @click="updateHobby">修改第一个爱好为：开车</button><br />
        <button @click="remove">过滤爱好中的抽烟</button><br />

        <h3>姓名：{{student.name}}</h3>
        <h3>年龄：{{student.age}}</h3>
        <h3 v-if="student.sex">性别：{{student.sex}}</h3>
        <h3>爱好：</h3>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>

        <h3>朋友：</h3>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}} {{f.age}}
            </li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el: "#root",
        data: {
            student: {
                name: "tom",
                age: 18,
                hobby: ['抽烟', '喝酒', '烫头'],
                friends: [
                    { name: 'jerry', age: 1 },
                    { name: 'tony', age: 2 }
                ]
            }
        },
        methods: {
            addSex() {
                //在数据中添加新的key需要使用vm.$set API（不适用此api，vm不会重新解析模板）
                this.$set(this.student, 'sex', '男')
            },
            addFriend() {
                //操作数组中的元素需要使用指定的一些方法，因为数组中的元素没有vm的getter setter数据代理，改变数组元素不使用指定方法不会重新解析模板从而更新页面
                this.student.friends.unshift({ name: 'jack', age: 3 })
            },
            //数组元素为对象时，对象中的属性有getter setter数据代理，可以直接改动属性
            updataeFirstFriendName() {
                this.student.friends[0].name = '张三'
            },
            addHobby() {
                this.student.hobby.push('学习')
            },
            updateHobby() {
                // 使用方法改变数组中的元素
                // this.student.hobby.splice(0,1,'开车') 
                // 也可以使用set
                this.$set(this.student.hobby, 0, '开车')
            },
            remove() {
                //一些不会变更原数组的操作，如下过滤数组，可以替换原数组从而使vm监测到更新模板
                this.student.hobby = this.student.hobby.filter((h) => {
                    return h != '抽烟'
                })
            }
        }
    })
</script>

</html>