<html>

<head>
    <title>生命周期</title>
    <script src="../../resource/vue2.7.js"></script>
</head>

<body>
    <div id="root">
        <h2>{{n}}</h2>
        <button @click="add">n+1</button>
        <button @click="bye">销毁VM</button>
    </div>
</body>
<script>
    new Vue({
        el: "#root",
            //  template: `<div>
            // <h2>{{n}}</h2>
            // </div>`,
        data: {
            n: 0
        },
        methods: {
            add() {
                console.log('add');
                this.n++;
            },
            bye() {
                this.$destroy();
            }
        },

        // -------------------------------------------------------------------------------VM生命周期--------------------------------------------------------------------------


        // ******************数据监测&数据代理******************
        // 1）初始化生命周期、事件，数据代理还未开始
            // 创建前
            // 此时无法通过VM访问data中的数据、methods中的方法
        beforeCreate() { 
            console.log("beforeCreate")
            // debugger
        },

        // 2）初始化数据监测、数据代理
            // 创建后
            // 此时可以通过VM访问data中的数据、methods中的方法
        created() { 
            console.log("created")
        },
        // ******************数据监测&数据代理******************



        // 3）----流程中----此阶段vue开始解析模板，在内存中生成虚拟DOM，还未放到页面上
        // 3.1是否配置 el： 配置项
        // 3.2是否配置 template： 配置项
        // 3.3如果配置了template：配置项会以template为模板，没有就以el：配置项为模板



        // ******************挂载流程开始****************** 
        // 4）
            // 挂载前
            // 此时页面呈现的都是未经vue编译的DOM结构，在此过程中修改DOM最终都不奏效，因为vm会把虚拟DON转为真实DOM放在页面上
        beforeMount() { 
            console.log("beforeMount")
        },


        //5）将内存中的虚拟DOM转为真实DOM插入页面
            // 挂载后
            // 此时页面中呈现的都是经过vue编译过得DOM，至此挂载流程结束，一般在此进行开启定时器、发送网络请求、订阅消息、绑定自定义事件、等初始化操作
        mounted() {
            console.log("mounted")
        },
        // ******************挂载流程结束****************** 




        // ******************更新流程开始****************** 
        // 1）
            // 更新前
            // 此时数据已经更新，页面还未更新
        beforeUpdate() {
            console.log("beforeUpdate:" + this.n)
        },

        // 2）根据新数据，生成新的虚拟DOM，然后跟旧的虚拟DOM进行比较，之后完成跟新操作，完成了model到view的更新

        // 3）
            // 更新后
            // 此时数据已经更新，页面也已经更新
        updated() {
            console.log("updated")
        },
        // ******************更新流程结束****************** 



        // ******************销毁流程开始****************** 
        // 1)
            // 销毁前（还未销毁）
            // 到了这一阶段，能访问到数据也能调用到方法，但是所有对数据的修改不会再触发更新了
        beforeDestroy() { 
            console.log("beforeDestroy")
            this.add();
        },

        //2）开始销毁，并关闭定时器、解绑自定义事件等

        // 3)
            // 销毁后
        destroyed() {
            console.log("destroyed")
        },
        // ******************销毁流程结束****************** 

        // -------------------------------------------------------------------------------VM生命周期--------------------------------------------------------------------------
    })
</script>

</html>